@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-purple: #593C9D;
    --color-black: #1C1C1C;
    --color-white: #fafafa;
}

body {
    color: var(--color-white);
    background: var(--color-black);
}

main {
    align-items: center;
}



/*
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}


.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--color-black);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--color-purple);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--color-black);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--color-purple);
}
*/

.home {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
    max-height: 80vh;
    gap: 0px 90px;
}




.logo {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9rem;
}

.logo img {
    width: 460px;
    height: 120px;

}


.phone {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.div-bnt-registro {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    padding-top: 2rem;
    padding-left: 1.4rem;

}

.home-btn {
    padding: 0.8rem 1.2rem;
    background: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    border-radius: 24px;
    font-weight: 700;
    transition: all 0.9s;
    margin-top: 20px;

}



.home-btn:hover {
    border-color: transparent;
    background: var(--color-purple);
}

.home-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-img img {
    width: 400px;
    height: 800;
}

.descricao {
    padding-top: 160px;
    padding-bottom: 60px;
    background: rgb(28, 28, 28);
    background: linear-gradient(180deg, rgba(28, 28, 28, 1) 15%, rgba(89, 60, 157, 1) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}



.descricao-txt {

    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30%;


}

.descricao-txt h1 {
    padding-bottom: 20px;
    font-size: 2.3rem;
    font-weight: 900;
    
}

.descricao-txt p {

    font-size: 18px;
    font-weight: 500;

}

.descricao-img img {
    width: 450px;
}

.objetivo {
    padding-top: 120px;
    padding-bottom: 140px;
    background: rgb(87, 59, 153);
    background: linear-gradient(180deg, rgba(89, 60, 157, 1) 30%, rgba(142, 123, 187, 1) 57%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
    gap: 40px;
}

.objetivo-img {
    animation: go-back 1500ms infinite alternate;
}

@keyframes go-back {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0px);
    }
}

.objetivo-txt {
    max-width: 30%;
    width: 100%;
    text-align: left;
}

.objetivo-txt h1 {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 2.3rem;
    font-weight: 900;



}

.objetivo-txt p {
    font-size: 18px;
    font-weight: 500;

}

.objetivo-img img {
    width: 450px;
}

.proposta {
    padding-top: 40px;
    margin-bottom: 80p;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 70vh;

}

.proposta-txt {
    max-width: 40%;
    width: 100%;
}

.proposta h1 {
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 20px;
}

.proposta-txt p {

    font-size: 18px;
    font-weight: 500;

}

.proposta-img img {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 300px;
}

.wireframes {
    display: flex;
    justify-content: center;
    
}


.wireframes-txt h1 {
    padding-top: 10px;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.footer-text {
    width: 45%;
}

.footer h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 20px;
}

.footer p {
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

footer {
    background: linear-gradient(180deg, #1C1C1C 8.42%, #593C9D 100%);
}

@media screen and (max-width: 1020px) {

    body {
        padding: 0;
    }

    /* style do layer 1*/

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0px;
        max-height: 85vh;
        gap: 0px 0px;
        padding: 0px 20px;
    }

    .home-btn {
        display: none;
    }

    .logo {
        display: flex;
        padding-top: 9rem;
    }

    .logo img {
        width: 400px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    /*Display none para esconder o Texto que so aparece no computador*/
    .div-bnt-registro h2 {
        display: none;
    }

    .phone img {
        width: 300px;
    }

    /*style layer 2*/

    .descricao {
        padding-bottom: 60px;
        background: linear-gradient(178deg, #1C1C1C 13.45%, #593C9D 98.65%);
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

    }


    .descricao-txt {
        max-width: 90%;

    }

    .descricao-txt h1 {

        font-size: 2.3rem;
        font-weight: 900;
    }

    .descricao-txt p {

        font-size: 18px;
        font-weight: 500;

    }

    .descricao-img img {
        width: 350px;
    }

    /*layer 3*/

    .objetivo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .objetivo-txt {
        max-width: 90%;
    }

    .objetivo-txt h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 2rem;
        font-weight: 900;

    }

    .objetivo-txt p {
        font-size: 1.2rem;
        font-weight: 500;

    }

    .objetivo-img img {
        width: 400px;
    }

    /*layer 4*/

    .proposta {
        padding-top: 40px;
        margin-bottom: 80p;
        background-color: #1C1C1C;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        min-height: 70vh;

    }

    .proposta-txt {
        max-width: 90%;
        width: 100%;
    }

    .proposta h1 {
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .proposta-txt p {

        font-size: 20px;
        font-weight: 500;

    }

    .proposta-img img {
        padding-top: 40px;
        width: 380px;
    }

    .wireframes-txt h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0;
        font-size: 24px;
        padding-left: 45%;
    }

    /*layer 5*/

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 70px 0;
    }

    .footer-text {
        width: 90%;
    }

    .footer h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .footer p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }


}

@media screen and (max-width: 768px) {

    body {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    /* style do layer 1*/

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0px;
        max-height: 85vh;
        gap: 0px 0px;
        padding: 0px 20px;
        max-width: 100%;
    }

    .home-btn {
        display: none;
    }

    .logo {
        display: flex;
        padding-top: 2rem;
    }

    .logo img {
        width: 250px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    /*Display none para esconder o Texto que so aparece no computador*/
    .div-bnt-registro h2 {
        display: none;
    }

    .phone img {
        width: 250px;
    }

    /*style layer 2*/

    .descricao {
        padding-bottom: 60px;
        background: linear-gradient(178deg, #1C1C1C 13.45%, #593C9D 98.65%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

    }


    .descricao-txt {
        max-width: 90%;

    }

    .descricao-txt h1 {

        font-size: 1.6rem;
        font-weight: 900;
    }

    .descricao-txt p {
        padding: 10px 0px;
        font-size: 1rem;
        font-weight: 500;

    }

    .descricao-img img {
        width: 250px;
    }

    /*layer 3*/

    .objetivo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .objetivo-txt {
        max-width: 90%;
    }

    .objetivo-txt h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 1.7rem;
        font-weight: 900;

    }

    .objetivo-txt p {
        font-size: 1rem;
        font-weight: 500;

    }

    .objetivo-img img {
        width: 250px;
    }

    .objetivo-img {
        animation: go-back 1500ms infinite alternate;
    }

    @keyframes go-back {
        from {
            transform: translateY(30px);
        }

        to {
            transform: translateY(0px);
        }
    }

    /*layer 4*/

    .proposta {
        padding-top: 40px;
        margin-bottom: 80px;
        background-color: #1C1C1C;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        min-height: 70vh;

    }

    .proposta-txt {
        max-width: 100%;
        width: 90%;
    }

    .proposta h1 {
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .proposta-txt p {

        font-size: 20px;
        font-weight: 500;

    }

    .proposta-img img {
        padding-top: 40px;
        width: 280px;
    }

    .wireframes-txt h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0;
        font-size: 24px;
        padding-left: 43%;
    }

    /*layer 5*/

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 70px 0;
    }

    .footer-text {
        width: 90%;
    }

    .footer h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .footer p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }




}


@media screen and (max-width: 640px) {

    body {
        max-width: 100vh;
    }

    .home {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 20px;
        max-height: 80vh;
        gap: 0px 30px;
        width: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        width: 250px;
    }

    .div-bnt-registro {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        padding-left: 1.4rem;
    }

    .home-btn {
        padding: 0.8rem 1.2rem;
        background: transparent;
        border: 2px solid var(--color-white);
        color: var(--color-white);
        border-radius: 24px;
        font-weight: 700;
        transition: all 0.9s;
        margin-top: 20px;
        max-width: 100%;
    }

    .home-btn:hover {
        border-color: transparent;
        background: var(--color-purple);
    }

    .home-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-img img {
        width: 200px;

    }

    .descricao {
        padding-top: 80px;
        padding-bottom: 40px;
        background: rgb(28, 28, 28);
        background: linear-gradient(180deg, rgba(28, 28, 28, 1) 15%, rgba(89, 60, 157, 1) 75%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .descricao-txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 80%;
        text-align: center;
    }

    .descricao-txt h1 {
        font-size: 1.7rem;
        font-weight: 900;
    }

    .descricao-txt p {
        font-size: 16px;
        font-weight: 500;
    }

    .descricao-img img {
        width: 300px;
        height: auto;
    }

    .objetivo {
        padding-top: 60px;
        padding-bottom: 80px;
        background: rgb(87, 59, 153);
        background: linear-gradient(180deg, rgba(89, 60, 157, 1) 30%, rgba(142, 123, 187, 1) 57%, rgba(255, 255, 255, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .objetivo-txt {
        max-width: 80%;
        text-align: center;
    }

    .objetivo-txt h1 {
        padding-top: 40px;
        padding-bottom: 10px;
        font-size: 1.8rem;
        font-weight: 900;
    }

    .objetivo-txt p {
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }

    .objetivo-img img {
        width: 300px;
        height: auto;
    }

    .proposta {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #1C1C1C;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        min-height: auto;
    }

    .proposta-txt {
        max-width:80%;
        text-align: center;
    }

    .proposta h1 {
        font-size: 26px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .proposta-txt p {
        font-size: 16px;
        font-weight: 500;
    }

    .proposta-img img {
        width: 250px;
        height: auto;
    }

    .wireframes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 10px;
    }

    .wireframes-txt h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        font-size: 24px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0;
    }

    .footer-text {
        max-width: 90%;
        text-align: center;
    }

    .footer h1 {
        font-size: 24px;
        font-weight: 900;
        padding-bottom: 20px;
    }

    .footer p {
        font-size: 16px;
        font-weight: 500;
    }

    footer {
        background: linear-gradient(180deg, #1C1C1C 8.42%, #593C9D 100%);
    }



}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  width: 95%;
  display: inline;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: 5px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: 5px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 300px;
  height: 600px;
  object-fit: contain;
  padding-top: 30%;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #1C1C1C;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #593C9D;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 250px;
    height: 60  0px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
